@import "../../configs/theme.scss";
@import "../../configs/config.scss";

.authcontainer {
  background: black;
  color: white;
  min-width: 450px;
  width: 450px;
  height: 200px;
  input {
    background: black !important;
    color: white;
  }
  .sider {
    padding: 40px 20px;
  }
  .header {
    height: 50px;
    -webkit-app-region: drag;
    .windowicon {
      -webkit-app-region: no-drag;
      color: white;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;
      float: right;
      margin-right: 20px;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .body {
    margin-top: 40px;
  }
  .footer {
    margin-top: 30px;
    padding-left: calc(50% - 70px);
  }
}
