@import "../configs/theme.scss";
@import "../configs/config.scss";

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  //   position: relative;
  //   color: white;
  //   height: 100vh;
  //   background-color: #232c39;
  //   background-image: linear-gradient(
  //     45deg,
  //     rgba(0, 216, 255, 0.5) 10%,
  //     rgba(0, 1, 127, 0.7)
  //   );
  //   font-family: Arial, Helvetica, Helvetica Neue, serif;
  //   overflow-y: hidden;
  //   font-family: Montserrat;
  //font-weight: 500;
}

a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

a[disabled] {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.ant-btn {
  border-radius: 3px !important;
  margin-right: 7px;
  border: 1px solid #d9d9d9 !important;
}

.ant-btn-primary {
  border: none !important;
}

.ant-table-header {
  overflow: hidden !important;
  height: 70px;
}

.ant-input-search {
  .ant-input {
    border-radius: 20px;
    background: #f5f5f5;
  }
}

.ant-table-body {
  background: #161616 !important;
  color: white;
  overflow-y: auto !important;
}

.ant-layout {
  background: $bg-color;
}

.ant-select {
  color: black;
}

.ant-select-dropdown-menu-item {
  color: black !important;
}

.ant-table-placeholder {
  background: #161616;
}

.ant-empty-description {
  color: white;
}

.ant-card-head {
  background: #323232 !important;
  color: white;
}

.ant-card-body {
  background: $bg-color;
  color: white;
}
