$bg-color: #23272a;
$primary-color: #7289da;
$secondary-color: #647b00;
$table-header-bg: #2c2f33;
$table-header-color: white;
$table-row-hover-bg: rgba(181, 84, 0, 0.1);

$disabled-color: black;
$btn-default-color: white;
$btn-default-bg: $bg-color;

$input-color: black;

$layout-body-background: $bg-color;
$menu-bg: transparent;
$black: rgb(238, 216, 216);

// menu active transparent
$menu-item-active-bg: #fff;

$layout-header-background: #fff;

$layout-body-background: #fff;

$btn-font-weight: 600;

// $font-size-base: 14px;
// $font-family: Montserrat;
